---
---

<h1>Form examples</h1>
<ul>
	<li>
		<a href="/form/view-transitions">Form with view transitions</a>
	</li>
	<li>
		<a href="/form/no-view-transitions">Form without view transitions</a>
	</li>
</ul>

